main
  width 800px
  max-width 99%
  margin 50px auto 0

  *
    font-family monospace

main > .item > .name
  font-size 120%
  font-weight bold

ul
  list-style none

.item
  display block

.name, .note
  border none
  display block

.note
  font-size 70%
  color gray

footer
  padding-top 20px
  border-top 1px ridge gray
  margin 40px 500px
  text-align center
  color gray
  font-size 80%
